:root {
    color-scheme: light !important;
}

/*font settings*/
body{
    font-size : 1rem;
}
h1{
    font-size : 3rem !important;
    font-weight : 700 !important;
    text-align: left !important;
    white-space: nowrap !important;
}
h2{
    font-size : 2rem !important;
    text-align: left !important;
}

/* Make content full width */
article.article-grid {
    display: block !important;
}

/*margins for headings*/
article.content h1 {
    max-width: 52.5% !important;
    width: 52.5% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
article.content h2 {
    max-width: 52.5% !important;
    width: 52.5% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

/*changes images after hovering*/
img:hover{
    border-radius: 6px;
    border: 3px solid #36492E;
}

/*nav bar settings*/
.myst-top-nav {
    background-color: #36492E !important;
    text-align: left !important;
}
.myst-top-nav a {
    color: #fff7E6 !important;
    max-width: 100% !important;
    width: 100% !important;
}

/*sets to light/dark mode*/
html {
    color-scheme: light only !important;
}
body {
    background-color: #fff7E6 !important;
    color: #000000 !important;
}

/*turns off theme button*/
.myst-theme-button {
    display: none !important;
}
/* WIP dropdown
<html>
<style>
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>
</html>
*/

/* trying to get rid of bottom gap on grid
.grid-item img {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100% !important;
    display: block !important;
}
*/


<body>

<h2>Dropdown Menu</h2>
<p>Move the mouse over the button to open the dropdown menu.</p>

<div class="dropdown">
  <button class="dropbtn">Benchmarks1</button>
  <div class="dropdown-content">
  <a href="#">Link 1</a>
  <a href="#">Link 2</a>
  <a href="#">Link 3</a>
  </div>
</div>

<p><strong>Note:</strong> We use href="#" for test links. In a real web site this would be URLs.</p>

</body>