:root {
    color-scheme: light !important;
}
body{
    font-size : 1rem;
}
h1{
    font-size : 3rem !important;
    font-weight : 700 !important;
}
h2{
    font-size : 2rem !important;
}

.article-grid {
    max-width: 1400px !important;
}

.article-content {
    max-width: 900px !important;
}
