:root {
    color-scheme: light !important;
}

/*font settings*/
body{
    font-size : 1rem;
}
h1{
    font-size : 3rem !important;
    font-weight : 700 !important;
    text-align: left !important;
    white-space: nowrap !important;
}
h2{
    font-size : 2rem !important;
    text-align: left !important;
}

/* Make content full width */
article.article-grid {
    display: block !important;
}

/*margins for headings*/
article.content h1 {
    max-width: 60% !important;
    width: 60% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
article.content h2 {
    max-width: 60% !important;
    width: 60% !important;
    margin-left: auto !important;
    margin-right: auto !important;

}

/*changes images after hovering*/
img:hover{
    border-radius: 8px;
    border: 10px solid #0CC;
}

/*nav bar colors*/
.myst-top-nav {
    background-color: #008000 !important;
}
.myst-top-nav a {
    color: #ffffff !important;
}

/*sets to light/dark mode*/
html {
    color-scheme: light only !important;
}
body {
    background-color: #ffffff !important;
    color: #000000 !important;
}

/*turns off theme button*/
.myst-theme-button {
    display: none !important;
}