h1 {
    text-align: center;
    font-size: 25px;
}

p {
    font-size: 1.5em;
}

.highlight {
    background-color: #317399;
    padding: 0 5px;
    color: #fff;
}

:root {
    color-scheme: light !important;
}

body {
    background-color: #ffffff !important;
    color: #000000 !important;
}